/* основний колір #212121
вторичній колір текста #757575
колір акцента #2196F3
вторичний колір фона #F5F4FA */

:root {
    --primary-white-color: #F5F5F5;
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --text-color: #757575;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
}

.logo {
    color: var(--primary-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-studio {
    color: var(--accent-color);
}

.list {
    list-style: none;
}
/* nav */
.site-nav a {
    color: var(--primary-text-color)
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-contacts a {
    color: var(--text-color);
    text-decoration: none;
}

.site-nav a:hover, .site-nav a:focus,
.site-contacts a:hover, .site-contacts a:focus {
    color: var(--accent-color);
}

/* hero */
.hero {

}

.hero-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

.hero-button a:hover, .hero-button a:focus {
background-color:#188CE8;
}


/* Sections */
.features-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features .text {
    color: var(--text-color)
    
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-team {
    background-color: #F5F4FA;
    
}
.team a {
    text-decoration: none;
    color: var(--primary-text-color);
}


.team p {
    color: var(--text-color);
    
}



/* PORTFOLIO */

/* Buttons */
.filter button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}
.filter button:hover, .filter button:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

.works a{
    text-decoration: none;
    color: var(--primary-text-color);
}

.works p{
    color: var(--text-color);
}

/* Footer */
address {
    color: #FFFFFF;
}

.footer a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}